{{ define "main" }}

<body id="presentations">

  <header>
    <h1><a href="{{ "/" | relURL }}">Chris Horner</a></h1>
  </header>

  <div id="content-outer-container">
    <div id="list-inner-container">
      <h2>{{ .Title }}</h2>
      <p class="subtitle">{{ .Params.subtitle }}</p>
      <hr/>
      <ul class="list">
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
            <p>
              <span class="conference">{{ .Params.conference }}</span><br/>
              <span class="location">{{ .Params.location }}</span>
            </p>
            <span id="date">{{ .Date.Format "2 January 2006" }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

</body>

{{ end }}
