{{ define "main" }}

<body id="presentations">

  <div id="content-outer-container">
    <div id="list-inner-container">
      <header class="list-header">
        <h1><a href="{{ "/" | relURL }}">Chris Horner</a></h1>
        <div class="list-subtitle">
          {{ partial "icons/presentations.svg" }}
          <span>{{ .Title }}</span>
        </div>
      </header>
      <ul class="list">
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
            <p>{{ .Params.summary }}</p>
            <span id="date">{{ .Params.conference }} {{ .Date.Format "2006" }} - {{ .Params.location }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

</body>

{{ end }}
