{{ define "main" }}

<body id="presentations">

  <div id="content-outer-container">
    <div id="list-inner-container">
      <nav class="detail-breadcrumb">
        <a href="{{ "/" | relURL }}">Chris Horner</a>
      </nav>
      <h2 class="list-title">
        {{ partial "icons/presentations.svg" }}
        <span>{{ .Title }}</span>
      </h2>
      <ul class="list">
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
            <p>{{ .Params.summary }}</p>
            <span id="date">{{ .Params.conference }} {{ .Date.Format "2006" }} - {{ .Params.location }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

</body>

{{ end }}
