{{ define "main" }}

<body id="presentation-item">

  <div id="content-outer-container">
    <div id="content-inner-container">
      <nav class="detail-breadcrumb">
        <a href="{{ "/" | relURL }}">Chris Horner</a>
        <span class="breadcrumb-sep">›</span>
        <a href="{{ "presentation/" | relURL }}">
          {{ partial "icons/presentations.svg" }}
          <span>Presentations</span>
        </a>
      </nav>
      <h2>{{ .Title }}</h2>
      <div class="detail-meta">
        <a href="{{ .Params.conferenceLink }}">{{ .Params.conference }}</a>
        <span>{{ .Date.Format "2006" }}</span>
        <span>{{ .Params.location }}</span>
      </div>

      {{ .Content }}

      <section class="video-container">
        <iframe class="youtube" src="{{ .Params.youtube }}" frameborder="0" allowfullscreen></iframe>
      </section>

      <section class="slides-container">
        <iframe class="speakerdeck" frameborder="0" src="{{ .Params.speakerdeck }}" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </section>

    </div>
  </div>

</body>

{{ end }}
