{{ define "main" }}

<body id="presentation-item">

  <div id="content-outer-container">
    <div id="content-inner-container">
      <header class="detail-header">
        <h1><a href="{{ "/" | relURL }}">Chris Horner</a></h1>
        <a class="list-subtitle" href="{{ "presentation/" | relURL }}">
          {{ partial "icons/presentations.svg" }}
          <span>Presentations</span>
        </a>
      </header>
      <h2>{{ .Title }}</h2>
      <span id="date"><a href="{{ .Params.conferenceLink }}">{{ .Params.conference }}</a> {{ .Date.Format "2006" }} - {{ .Params.location }}</span>

      {{ .Content }}

      <section class="video-container">
        <iframe class="youtube" src="{{ .Params.youtube }}" frameborder="0" allowfullscreen></iframe>
      </section>

      <section class="slides-container">
        <iframe class="speakerdeck" frameborder="0" src="{{ .Params.speakerdeck }}" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </section>

    </div>
  </div>

</body>

{{ end }}
