{{ define "main" }}

<body id="portfolio">

  <header>
    <h1><a href="{{ "/" | relURL }}">Chris Horner</a></h1>
  </header>

  <div id="content-outer-container">
    <div id="list-inner-container">
      <h2>{{ .Title }}</h2>
      <p class="subtitle">{{ .Params.subtitle }}</p>
      <hr/>
      <ul class="list">
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <div class="portfolio-item">
              <img src="{{ printf "img/%s" .Params.icon | relURL }}"/>
              <div>
                <h3>{{ .Title }}</h3>
                <p>{{ .Params.summary }}</p>
                <span id="date">{{ .Date.Format "2006" }}</span>
              </div>
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

</body>
{{ end }}
