{{ define "main" }}

<body id="portfolio-item">

  <div id="content-outer-container">
    <div id="content-inner-container">
      <nav class="detail-breadcrumb">
        <a href="{{ "/" | relURL }}">Chris Horner</a>
        <span class="breadcrumb-sep">›</span>
        <a href="{{ "portfolio/" | relURL }}">
          {{ partial "icons/app_portfolio.svg" }}
          <span>App Portfolio</span>
        </a>
      </nav>
      <h2>{{ .Title }}</h2>
      <div class="detail-meta">
        <span>{{ .Date.Format "2006" }}</span>
      </div>
      {{ .Content }}
      <div class="screen-collection">
        {{ range .Params.screens }}
        <img class="screen" src="{{ printf "img/%s" . | relURL }}"/>
        {{ end }}
      </div>
    </div>
  </div>

</body>

{{ end }}
