{{ define "main" }}

<body id="posts">

  <header>
    <h1><a href="{{ "/" | relURL }}">Chris Horner</a></h1>
  </header>

  <div id="content-outer-container">
    <div id="list-inner-container">
      <h2>
        {{ .Title }}
        <a href="{{ "index.xml" | relURL }}">
          <svg id="rss-icon" style="width:32px;height:32px;padding-bottom: 4px;" viewBox="0 0 24 24">
            <path d="M6.18,15.64A2.18,2.18 0 0,1 8.36,17.82C8.36,19 7.38,20 6.18,20C5,20 4,19 4,17.82A2.18,2.18 0 0,1 6.18,15.64M4,4.44A15.56,15.56 0 0,1 19.56,20H16.73A12.73,12.73 0 0,0 4,7.27V4.44M4,10.1A9.9,9.9 0 0,1 13.9,20H11.07A7.07,7.07 0 0,0 4,12.93V10.1Z" />
          </svg>
        </a>
      </h2>
      <p class="subtitle">{{ .Params.subtitle }}</p>
      <hr/>
      <ul class="list">
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
            <p>{{ .Params.summary }}</p>
            <span id="date">{{ .Date.Format "2 January 2006" }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>

</body>

{{ end }}
