{{ define "main" }}

<body id="post-item">

  <div id="content-outer-container">
    <div id="content-inner-container">
      <header class="detail-header">
        <h1><a href="{{ "/" | relURL }}">Chris Horner</a></h1>
        <a class="list-subtitle" href="{{ "post/" | relURL }}">
          {{ partial "icons/blog.svg" }}
          <span>Blog</span>
        </a>
      </header>
      <h2>{{ .Title }}</h2>
      <span id="date">{{ .Date.Format "2 January 2006" }}</span>
      {{ .Content }}
      <p class="signature">&mdash; {{ .Site.Params.author.name }}</p>
    </div>
  </div>

</body>

{{ end }}
