:root {
  --background-colour: #FFFFFF;
  --background-home-colour: #333333;
  --content-container-colour: #FAFAFA;
  --content-hover-background-colour: #F5F5F5;
  --text-colour-light: #FFFFFF;
  --text-colour-primary: #000000;
  --text-colour-secondary: #757575;
  --text-colour-tertiary: #424242;
  --link-colour: #1976D2;
  --link-hover-colour: #40C4FF;
  --horizontal-ruler-colour: #00B0FF;
  --quote-background-colour: #EEEEEE;
  --quote-indent-colour: #CCCCCC;
  --code-background-colour: #EEEEEE;
  --inline-code-colour: #03A9F4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #121212;
    --background-home-colour: #333333;
    --content-container-colour: #191919;
    --content-hover-background-colour: #303030;
    --text-colour-light: #FFFFFF;
    --text-colour-primary: #E8E8E8;
    --text-colour-secondary: #B8B8B8;
    --text-colour-tertiary: #B8B8B8;
    --link-colour: #64c1ff;
    --link-hover-colour: #40C4FF;
    --horizontal-ruler-colour: #0288d1;
    --quote-background-colour: #262626;
    --quote-indent-colour: #404040;
    --code-background-colour: #262626;
    --inline-code-colour: #66D9EF;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", "Verdana", "Open Sans", "Helvetica", Sans-Serif;
  display: flex;
  flex-direction: column;
  background-color: var(--background-colour);
}

p {
  color: var(--text-colour-primary);
  line-height: 1.4;
  font-size: large;
}

h1, h3, h4, h5, li {
  color: var(--text-colour-primary);
}

p > a {
  color: var(--link-colour);
}

li {
  line-height: 1.4;
  font-size: large;
}

li > a {
  color: var(--link-colour);
}

h4 {
  color: var(--text-colour-primary);
  font-size: x-large;
}

h5 {
  color: var(--text-colour-primary);
  font-size: large;
  margin-top: 8px;
  margin-bottom: 8px;
}

h6 {
  color: var(--text-colour-primary);
  font-size: medium;
  margin-top: 8px;
  margin-bottom: 8px;
}

#home {
  background-color: var(--background-home-colour);
  background: url(../img/banner2.jpg) no-repeat fixed;
  background-size: cover;
  background-position: top right;
}

#intro {
  text-align: center;
  padding: 32px;
  flex: 1;
}

#intro > p {
  color: var(--text-colour-light);
  font-size: x-large;
}

#home > header {
  flex: 1;
}

header > h1 {
  text-transform: uppercase;
  margin: 16px 0 0 16px;
  padding 0;
}

h1 > a {
  text-decoration: none;
  color: var(--text-colour-primary);
}

#home header > h1 {
  color: var(--text-colour-light);
}

h1 > a:hover {
  color: var(--link-hover-colour);
}

h2 > a > svg {
  vertical-align: middle;
}

#rss-icon {
  fill: var(--link-colour);
}

.subhead {
  margin-left: 16px;
  text-decoration: none;
  font-size: x-large;
  color: var(--text-colour-secondary);
}

.subhead > span:hover {
  color: var(--link-hover-colour);
}

ul.nav-list {
  margin: 0 0 0 4px;
  padding: 0;
}

.nav-list svg {
  vertical-align: middle;
  margin-right: 4px;
}

.nav-list span {
  vertical-align: middle;
  margin-left: 2px;
}

.nav-list a {
  color: var(--text-colour-light);
  text-decoration: none;
  font-size: large;
  display: inline-block;
  padding: 12px 12px 12px 12px;
}

.nav-list a:hover {
  color: var(--link-hover-colour);
}

.nav-list a:hover svg {
  fill: var(--link-hover-colour);
}

.nav-list li {
  list-style-type: none;
}

#content-outer-container {
  padding: 0 16px 0 16px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-content: stretch;
  justify-content: center;
}

#content-inner-container {
  background-color: var(--content-container-colour);
  padding: 2px 12px 16px 12px;
  margin: 32px auto 0 auto;
  max-width: 100%;
  width: 900px;
  box-sizing: border-box;
}

#content-inner-container p:not(.subtitle) {
  margin-top: 24px;
  margin-bottom: 24px;
}

#list-inner-container {
  text-align: center;
  background-color: var(--content-container-colour);
  padding: 2px 0px 8px 0px;
  margin: 32px auto 0 auto;
  max-width: 100%;
  width: 600px;
  box-sizing: border-box;
}

ul.list {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.list a {
  text-decoration: none;
  color: var(--text-colour-primary);
  display: block;
  padding: 8px 16px 16px 16px;
}

.list a:hover {
  color: var(--link-hover-colour);
  background: var(--content-hover-background-colour);
}

.list a:hover span {
  color: var(--link-hover-colour);
}

.list h3 {
  margin-bottom: 0px;
}

.list p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  vertical-align: middle;
}

hr {
  display: block;
  border-top: 4px solid var(--horizontal-ruler-colour);
  max-width: 56px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

blockquote {
  background: var(--quote-background-colour);
  border-left: 8px solid var(--quote-indent-colour);
  padding: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

blockquote:before {
  color: var(--quote-indent-colour);
  content: open-quote;
  position: absolute;
  margin-left: -0.6em;
}

blockquote:after {
  color: var(--quote-indent-colour);
  content: close-quote;
  position: absolute;
}

blockquote p {
  display: inline;
}

.subtitle {
  text-align: center;
  color: var(--text-colour-secondary);
  margin-top: 8px;
  margin-bottom: 16px;
}

.screen-collection {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.screen {
  max-width: 100%;
  align-self: center;
  padding: 8px 0px 8px 0px;
}

h2 {
  text-align: center;
  color: var(--text-colour-primary);
  margin-bottom: 0;
  font-size: xx-large;
}

figcaption {
  text-align: center;
  color: var(--text-colour-secondary);
  font-size: small;
  margin-top: 4px;
}

span#date {
  color: var(--text-colour-secondary);
  font-size: small;
  font-style: italic;
}

code {
  font-family: "JetBrainsMono", "Monaco", "Oxygen Mono", "Lucida Console", monospace;
  font-size: medium;
}

code:not(.language-java):not(.language-kotlin):not(.language-xml):not(.language-sh) {
  background-color: var(--code-background-colour);
  color: var(--inline-code-colour);
  padding-left: 2px;
  padding-right: 2px;
}

pre {
  padding-left: 8px;
  padding-right: 8px;
}

.highlight pre code * {
  white-space: nowrap;
}

.highlight pre {
  overflow-x: auto;
  padding: 24px 16px 24px 16px;
}

.highlight pre code {
  white-space: pre;
  line-height: 1.3;
}

.signature {
  color: var(--text-colour-secondary);
  font-style: italic;
}

.post-image-right {
  float: right;
  width: 460px;
  padding: 8px;
  max-width: 100%;
  display: inline;
}

span.conference {
  color: var(--text-colour-tertiary);
}

span.location {
  color: var(--text-colour-secondary);
  font-size: small;
}

section.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

section.slides-container {
  margin-top: 16px;
  margin-bottom: 8px;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.speakerdeck {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .nav-list li {
    margin-left: 0;
    display: inline-block;
  }

  .nav-list a {
    padding: 16px 12px 16px 12px;
  }

  .nav-list svg {
    vertical-align: middle;
    margin-right: 0px;
  }

  .screen {
    max-width: 45%;
    align-self: center;
    padding: 8px 0px 8px 0px;
  }

  #content-inner-container {
    background-color: var(--content-container-colour);
    padding: 16px 56px 32px 56px;
    margin: 64px auto 0 auto;
    max-width: 100%;
    width: 900px;
    box-sizing: border-box;
  }

  #list-inner-container {
    text-align: center;
    background-color: var(--content-container-colour);
    padding: 16px 0px 8px 0px;
    margin: 64px auto 0 auto;
    max-width: 100%;
    width: 600px;
    box-sizing: border-box;
  }

  .list a {
    text-decoration: none;
    color: var(--text-colour-primary);
    display: block;
    padding: 8px 56px 16px 56px;
  }

  .list img {
    width: 72px;
    height: 72px;
    margin-right: 32px;
    vertical-align: middle;
  }
}
