{{ define "main" }}

<body id="home">
  <header>
    <h1>Chris Horner</h1>
    <div id="home-subtitle">{{ .Content }}</div>
  </header>

  <ul class="nav-primary">

    <li>
      <a href="{{ "portfolio/" | relURL }}">
        {{ partial "icons/app_portfolio.svg" }}
        <span>App Portfolio</span>
      </a>
    </li>

    <li>
      <a href="{{ "presentation/" | relURL }}">
        {{ partial "icons/presentations.svg" }}
        <span>Presentations</span>
      </a>
    </li>

    <li>
      <a href="{{ "post/" | relURL }}">
        {{ partial "icons/blog.svg" }}
        <span>Dusty Blog</span>
      </a>
    </li>

    <li>
      <a href="https://github.com/chris-horner">
        {{ partial "icons/github.svg" }}
        <span>Github</span>
      </a>
    </li>

    <li>
      <a href="{{ "hire/" | relURL }}">
        {{ partial "icons/hire_me.svg" }}
        <span>Hire Me</span>
      </a>
    </li>

  </ul>

  <ul class="nav-links">

    <li>
      <a href="https://bsky.app/profile/chris-horner.bsky.social">
        {{ partial "icons/bluesky.svg" }}
      </a>
    </li>

    <li>
      <a rel="me" href="https://androiddev.social/@chrishorner">
        {{ partial "icons/mastodon.svg" }}
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/chris-horner-codes/">
        {{ partial "icons/linkedin.svg" }}
      </a>
    </li>

    <li>
      <a href="{{ "index.xml" | absURL }}">
        {{ partial "icons/rss.svg" }}
      </a>
    </li>

  </ul>
</body>
{{ end }}
