{{ define "main" }}

<body id="home">
  <header>
    <h1>Chris Horner</h1>
    <ul class="nav-list">

      <li>
        <a href="{{ "post/" | relURL }}">
          {{ partial "icons/blog.svg" }}
          <span>Blog</span>
        </a>
      </li>

      <li>
        <a href="{{ "portfolio/" | relURL }}">
          {{ partial "icons/portfolio.svg" }}
          <span>Portfolio</span>
        </a>
      </li>

      <li>
        <a href="{{ "presentation/" | relURL }}">
          {{ partial "icons/presentations.svg" }}
          <span>Presentations</span>
        </a>
      </li>

      <li>
        <a href="https://github.com/chris-horner">
          {{ partial "icons/github.svg" }}
          <span>Github</span>
        </a>
      </li>

      <li>
        <a href="https://bsky.app/profile/chris-horner.bsky.social">
          {{ partial "icons/bluesky.svg" }}
          <span>Bluesky</span>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/chris_h_codes">
          {{ partial "icons/twitter.svg" }}
          <span>Twitter</span>
        </a>
      </li>

      <li>
        <a rel="me" href="https://androiddev.social/@chrishorner">
          {{ partial "icons/mastodon.svg" }}
          <span>Mastodon</span>
        </a>
      </li>

    </ul>
  </header>
  <div id="intro">{{ .Content }}</div>
</body>
{{ end }}
